<%- include('header'); -%>

<h1>Articles</h1>
<div class="number-row-selector">
    <a href="/?numRows=all">All</a>
    <a href="/?numRows=50">50</a>
    <a href="/?numRows=25">25</a>
    <a href="/?numRows=10">10</a>  
</div>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        <% if(articles) { %>
            <% for(a of articles) { %>
                <tr id="<%= a.id %>" class="row">
                    <td><%= a.title %></td>
                    <td><%= a.author %></td>
                    <td><%= a.body %></td>
                </tr>
            <% } %>
        <% } %>
    </tbody>
</table>

<%- include('footer'); -%>